{% extends 'todo/base.html' %}

{% block title %}My Profile{% endblock %}

{% block content %}
  <div class="container">
    <h1>User Profile</h1>
    
    {% if profile.profile_pic %}
        <img src="{{ profile.profile_pic.url }}" alt="Profile Picture">
    {% else %}
        No profile picture available.
    {% endif %}
         
    <table class="table">
      <tr>
        <th>Username</th>
        <td>{{ user.username }}</td>
      </tr>
      <tr>
        <th>Bio</th>
        <td>{{ profile.bio }}</td>
      </tr>
      <tr>
        <th>Date of Birth</th>
        <td>{{ profile.date_of_birth }}</td>
      </tr>
      <tr>
        <th>Location</th>
        <td>{{ profile.location }}</td>
      </tr>
    </table>
    <a href="{% url 'edit_profile' %}" class="btn btn-primary" >Edit Profile</a>
  </div>
{% endblock %}



