<!-- todo_detail.html -->

{% extends 'todo/base.html' %}
{% block title %}Todo Item Detail{% endblock %}

{% block content %}
<h1>Todo Item Detail</h1>
<p>Title: {{ todo.title }}</p>
<p>Description: {{ todo.description }}</p>
<p>Time Spent (min): {{ todo.time_spent }}</p>
<p>Completed: {% if todo.completed %}Yes{% else %}No{% endif %}</p>
<a href="{% url 'edit_todo' todo.id %}" class="btn btn-secondary">Edit Task</a>
<a href="{% url 'todo_list' %}" class="btn btn-info">Back to Todo List</a>
{% endblock %}
